
$primary-normal: #758123;
$primary-dark: #758123;
$primary-light: #758123;

$secondary-normal: #090d11;
$secondary-dark: #06090c;
$secondary-light: #1a1f25;

$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #FFF;
$white-dark: #edeaef;
$white-light: #fefbff;

$red-normal: #C7AE1F;
$red-dark: #C7AE1F;
$red-light: #C7AE1F;